{% extends 'base.html'%}

{% block content %}
<title>{% block title %} Excluir Professor {% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        
      
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Professores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('signupProf')}}">Inserir</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('excluirProf')}}">Remover</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('listarProf')}}">Listar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Alunos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('signupAluno')}}">Inserir</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('excluirAluno')}}">Remover</a>
              </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Matérias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('addMaterias')}}">Adicionar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('excluirMateria')}}">Remover</a>
        </div>
</li>
    </ul>
    <form action="{{ url_for('login') }}" class="form-inline my-2 my-lg-0">
      <a class="btn btn-ligh" href="{{ url_for('logoff') }}">Sair</a>
    </form>
  </div>
</nav>
<div style="margin-left: 400px;">
    <h1>Exclusão de professores:</h1>
</div>

<table class="table">

        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Formação</th>
          </tr>
        </thead>
        <tbody>
            {% for row in listaM %}
            <tr>
            <th scope="row"> {{ row['matricula'] }}</th>
            <td>{{ row['nome'] }}</td>
            <td>{{ row['afiliacao'] }}</td>

            <form method="POST" action="{{ url_for('excluirProf2') }}">
              <td>
                  <button type="submit" class="btn btn-outline-danger" name="id" value= {{ row['id'] }} >Excluir</button>
              </td>
            </form>            

          </tr>


          {% endfor %}
        </tbody>
      </table>

    <form action="" method="POST">
      {{ form.csrf_token }}
      <label>Digite o nome do professor que deseja procurar:</label>
      {{ form.nome(placeholder="nome", size="30") }}
      </br>
      <button type="submit" class="btn btn-primary">Procurar</button>
    </form>

{% endblock %}