{% extends 'aluno/base.html'%}

{% block content %}
<title>{% block title %} Aluno {% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <body>
        <div class="page-header">
            <div class="card">
                <div class="card-body">
                    <h2>Bem vindo, {{infoUsuario}}!</h2>
                    <h4>Curso: {{curso}}</h4>
                    
                </div>
            </div>
        </div>
    </body>
{% endblock %}