{% extends 'aluno/base.html'%}

{% block content %}
<title>{% block title %} Histórico {% endblock %}</title>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container">
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Matéria</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>
        {% for row in listaM %}
        <tr>
        <td>{{ row['curso'] }}</td>
        {% if(row['nota'] != 0): %}
          <td>{{ row['nota'] }}</td>
        {% else: %}
          <td>#</td>
        {% endif %}
      </tr>


      {% endfor %}
    </tbody>
  </table>
    </div>

{% endblock %}